<po-page-default p-title="Lista Pokemon" class="">
    <div class="container">
        <div class="cards">
            <div class="card text-center" style="width: 13rem;" *ngFor="let pokemon of pokemonList">
                <div class="card-img">
                    <img src="{{ pokemon?.imagem }}" alt="Imagem {{ pokemon?.name }}">
                </div>
                <div class="card-body">
                    <h6 class="text-muted order">N° {{ pokemon?.order | orderPipe }}</h6>
                    <h5 class="card-title name">{{ pokemon?.name | titlecase }}</h5>
                </div>
                <div class="card-footer">
                    <app-type *ngFor="let type of pokemon.tipo" type="{{ type }}"></app-type>
                </div>
            </div>

        </div>
    </div>
</po-page-default>