<po-page-default p-title="Lista Pokemon" class="">

    <div class="container">
        <div class="row">
            <div class="card-deck">

                <div class="col mb-4" *ngFor="let pokemon of pokemonList">

                    <div class="card ">
                        <div class="card-header">
                            # {{ pokemon?.order }}
                        </div>
                        <img class="card-img-top" src="{{ pokemon?.imagem }}" alt="Imagem {{ pokemon?.name }}"
                            style="max-width: 12rem;">
                        <div class="card-body">

                            <h5 class="card-title">{{ pokemon?.name }}</h5>
                        </div>
                        <div class="card-footer">
                            <app-type *ngFor="let type of pokemon.tipo" type="{{ type }}"></app-type>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div>
            <po-button>

            </po-button>
        </div>
    </div>
</po-page-default>